[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ortools = "9.5"
windows-curses = {platform_system = "== 'Windows'"}

[scripts]
bone_market_solver = "python -m bonemarketsolver"

[requires]
python_version = "3.10"
